body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.calculator {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(184, 184, 184);
  margin-right: 0;
}
.result {
  margin: 5px 20px;
  border: 4px solid black;
  width: 510px;
  height: 50px;
  margin-left: 2px;
  text-align: right;
}
.result-number {
  margin-right: 10px;
}
.number {
  padding: 50px;
  margin: 3px;
  font-size: 30px;
  background-color: rgb(114, 113, 111);
  cursor: pointer;
  border-radius: 15px;
}
.operator {
  padding: 50px;
  margin: 2px 0;
  font-size: 30px;
  background-color: rgb(137, 139, 141);
  cursor: pointer;
  border-radius: 10px;
}
.clear {
  padding: 50px;
  margin: 2px;
  font-size: 30px;
  background-color: rgb(94, 51, 34);
  cursor: pointer;
  color: whitesmoke;
  border-radius: 10px;
}
.equals {
  padding: 50px;
  margin: 2px;
  font-size: 30px;
  background-color: aliceblue;
  cursor: pointer;
  border-radius: 10px;
}
